<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData" >
  <div class="upper-data">
    <img src="../assets/Hot_Weather.jpg" *ngIf="weatherData.current_observation.condition.temperature > 18 ">
    <img src="../assets/night-clear.jpg" *ngIf="weatherData.current_observation.condition.temperature <= 18">
    
    <div class="weather-data">
      <div class="location">
        {{ weatherData.location.city }}, {{ weatherData.location.region }}, {{ weatherData.location.country }}
      </div>
      <div class="temperature">
        {{ weatherData.current_observation.condition.temperature | number: '1.0-0' }} °C
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="information">
        More Information      
    </div>
    <div class="container-info">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/sunrise.png" >
          <span>sunrise</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current_observation.astronomy.sunrise }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/moonsunset.png" >
          <span>sunset</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current_observation.astronomy.sunset }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" >
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current_observation.atmosphere.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" >
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current_observation.wind.speed }} km/h
        </div>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
